/* Adicionar aqui toda a estilização criada para sua aplicação. */

*{
    margin: 0;
}

.header {
		width: 1400;
		height: fit-content;
		background-color: rgb(7, 7, 7);
		border-bottom: solid 4px rgb(67, 169, 216);
	}

    .container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .titulo{
       
        align-self: center;
        order: 1;
        color: rgb(67, 169, 216);
    }

    .navbar{
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        order: 2;
    }

    a{
        color: rgb(230, 163, 86);
        text-decoration: none;
    }

    a:hover{
        color: white;
    }

    .banner .container{
        background-image: url(../assets/imgs/bg-jelly-fish-para-home.png);
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        background-size: cover;
        align-items: center;
    }

    .banner p{
    margin: 0;
    color: white;
    font-size: 40px;
    width: 250px;
    }

    .social .container{
        background-color: rgb(209, 209, 209);
        display: flex;
        flex-direction: column;
        height: 400px;
    }

    .boxes{
        display: flex;
        justify-content: space-evenly;
    }

    .box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }

    .box img{
        height: 150px;
        margin-bottom: 20px;
    }

    .box h4{
        color: rgb(214, 14, 97);
        font-weight: bolder;
        margin-bottom: 20px;
    }

    .box p{
        text-align: center;
        width: 150px;
    }

    .footer .container{
        background-color: rgb(67, 169, 216);
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }